<%- include('header') -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, vestibulum senectus tortor enim vulputate amet ad est. </p>
<%- include('footer') -%>